<app-nav></app-nav>


  
    <div [@router]='myOutlet.activatedRouteData["index"]'>
        <div class="router-container">
            <mat-drawer-container class="example-container" autosize>

            <router-outlet #myOutlet=outlet></router-outlet>

            
    <mat-drawer #drawer class="example-sidenav" mode="over" position="end">
        <div class="sideNav">
          <span><mat-icon (click)='logout()' aria-hidden="false">login</mat-icon>log out</span>
          <span  routerLink="explore" ><mat-icon>explore</mat-icon> explore </span>
          <span  routerLink="create-explore" ><mat-icon>control_point</mat-icon> create-explore </span>
  
        </div>
      </mat-drawer>
    
      <div class="example-sidenav-content" style="display: none;">
          // Events
        <button id='btnMenu'  type="button" mat-button (click)="drawer.toggle()">
          just clicked from @intput Event
        </button>
      </div>
    
    </mat-drawer-container>
  

    
    
        </div>
    </div>
